body {
    width: 800px;
    margin: auto;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: cadetblue;
    color: white;
    width: 100%;
    height: 150px;
    font-size: 30px;
}

header nav {
    height: inherit;
    vertical-align: middle;
    display: table-cell;
}

header nav li {
    margin-right: 30px;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

.video-title {
    font-size: 35px;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    display: inline;    
}

.nav-menu li {
    display: inline;
}

.video-play {
    float: left;
    width: 250px;
    text-align: center;
}

.video-image {
    margin-left: 250px;
}

.video-image img {
    margin: auto;
    display: block;
}

.best-movie {
    width: 100%;
    border: 5px solid black;
}

.video-play button {
    background-color: red;
    color: white;
    font-size: 40px;
    border-radius: 20px;
    padding: 5px 30px 5px 30px;

}

/*Carousel Css*/
.carousel {
    margin: 20px;
} 

.carousel__view {
    width: calc((200px*4) + 22px);
    height: 300px;
    background: white;
    box-shadow: 0 1px 8px #888888;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel__control {
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 70px;
    background-color: rgba(221, 221, 221, 0.5);
    transition: background-color 0.3s;
    display: table;
}

.carousel__control .icon {
    color: cadetblue;
    font-weight: bold;
    font-size: x-large;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.carousel__control:hover {
    background-color: rgba(221, 221, 221, 0.8);
}

.carousel__control:first-of-type {
    left: 0;
}
.carousel__control:last-of-type {
    right: 0;
}

.product-list {
    position: absolute;
    margin: 0;
    padding: 0;
    transition: transform 0.3s;
    transform: translateX(0px);
    list-style: none;
    height: 300px;
}

.product-list__item {
    width: 200px;
    height: 300px;
    display: inline-block;
}

.product {
    display: table;
    height: 100%;
    width: 100%;
}

.product span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .movie-picture {
    width: 100%;
  }

  .movie-picture img {
    margin: auto;
    display: block;
  }